html, body {
  margin: 0;
  padding: 0;

  * {
    box-sizing: border-box;
  }
}

html {
  min-height: 100vh;
  background-color: #dadada;
}

.wrapper {
  text-align: center;
  font-family: monospace;
}

.background {
  &--blue {
    background-color: #9cd9eb;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}
